@media(max-width:1000px){
    .info, .info__text{
        display: block;
        text-align: center;
    }
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(169, 148, 192, 0.5);
    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
}

a{
    color: #333;
    text-decoration: none;
  }

  a:hover{
    color: aqua;
  }

  a:active{
    color: rgba(241, 69, 69, 0.836);
  }

  a:visited{
    color: rgb(89, 0, 255);
  }
  
  .btn{
    background: #333;
    padding: 15px 20px;
    color: #eee;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
  }
  
  .btn:hover{
    opacity: 0.8;
    color: aqua;
  }

.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.61);
    padding: 30px;
}

.item{
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(117, 0, 128,0.5);
    width: 200px;
}
.card{
    border: 1px solid darkmagenta;
    padding: 15px 15px;
}

.card h2{
    margin-bottom: 10px;
}
.card__aquamarine{
    border-radius: 5px;
    background-color: rgba(76, 194, 178, 0.5);
    padding-left: 25px;
    margin-bottom: 10px;
}

.list{
    padding: 0 20px;
}


.list li{
    margin-bottom: 10px;
}

.list li:last-child{ 
    margin-bottom: 0;
}

.card__darkmagenta{
    border-radius: 5px;
    background-color: rgb(171, 88, 192);
    padding: 0px 0px 10px 10px;
}

.table{
    width: 100%;
  }
  
  .table td{
    text-align: center;
    padding-bottom: 10px;
  }
  
  .table td li:hover{
    background: aqua;
  }
 

.info{
    margin-bottom: 20px;
}

.info__text{
    margin-left: 40px;
}

.info__text p{
    font-style: italic;
    color: #86898f;
    margin: 0;
}

.form h2{
    text-align: center;
}

.form__group label {
    display: block;
    font-size: 14px;
}

.form__group input,
.form__group textarea {
   width: 100%;
   box-sizing: border-box;
   border: none;
   background:transparent;
   border-bottom: 1px solid #000;
   color: #000;
   padding: 15px 0 10px;
   outline: none;
   font-family: inherit;
}

.form__row {
    margin-bottom: 10px;
    display: flex;
}

.form__row, .form__group {
    /*display: inline-block;*/
    margin-right: 20px;
    width: 45%;
}
.form__row, .form__group:last-child {
    margin-right: 0; 
}